<div th:fragment="modal-content" th:object="${user}">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">ID</label>
    <div class="col-sm-9">
      <input type="hidden" name="id" th:value="*{id}">
      <input type="text" readonly class="form-control-plaintext" th:value="*{id}">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">First name</label>
    <div class="col-sm-9">
      <input type="text" readonly class="form-control-plaintext" th:value="*{firstName}">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Last name</label>
    <div class="col-sm-9">
      <input type="text" readonly class="form-control-plaintext" th:value="*{lastName}">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Age</label>
    <div class="col-sm-9">
      <input type="text" readonly class="form-control-plaintext" th:value="*{age}">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input type="text" readonly class="form-control-plaintext" th:value="*{email}">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Role</label>
    <div class="col-sm-9">
            <span th:each="role : *{roles}"
                  class="badge bg-primary me-1"
                  th:text="${#strings.replace(role.name, 'ROLE_', '')}"></span>
    </div>
  </div>
</div>